# Core functionality - changes here should be rare!
/src/app.py                   @mama666-hub
/src/backend/database.py      @mama666-hub
/src/backend/routers/auth.py  @mama666-hub

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mama666-hub
